/* You can place these body lines inside one bracket set. */
body {
  font-family: sans-serif;
  color: rgb(23, 85, 167);
  background-color: bisque;
}
nav {
  border-bottom: 1px solid rgb(19, 59, 110);
}
.navbar {
  display: inline;
}
